@import "../../scss/colors";
@import "../../scss/utils";
.cartWrapper {
    border-bottom: 2px solid $gray;
    width: 36%;
    padding: $indents10 0 $indents20 0;
    .cartContent {
        .cartContentTitle {
            margin: 0;
        }
    }
}