@import "../../scss/colors";
@import "../../scss/utils";
.cartWrapper {
    border-bottom: 2px solid $gray;
    padding: $indents10 $indents20 $indents20 $indents20;
    .cartContent {
        .cartContentTitle {
            margin: 0;
        }
    }
}